<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Required only when requesting background location access on
       Android 10 (API level 29) and higher. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChoresMap"
        tools:targetApi="34">

        <!--Google Maps API KEy-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDok9QgrTQGCJX0EyLuC3IKrhLuNQpvnKc" />

<!--        &lt;!&ndash; Your foreground service &ndash;&gt;-->
<!--        <service-->
<!--            android:name=".MyNavigationService"-->
<!--            android:foregroundServiceType="location"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            &lt;!&ndash; Add any required intent-filters here &ndash;&gt;-->
<!--        </service>-->

        <receiver android:name="com.bogdan.choresmap.Backend.Receivers.GeofenceBroadcastReceiver"/>

        <activity
            android:name=".Frontend.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChoresMap">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
